paper-dialog(class=className
             role="dialog"
             tabindex="-1"
             aria-modal="false"
             aria-labelledby="paper-dialog-header-86"
             style="outline: none; z-index: 12; top: 119px; left: 12px; box-sizing: border-box; max-height: 251.78125px; max-width: 1064px; position: fixed;"
             )
  +Template.contentBlock