paper-checkbox(class=className
               role="checkbox"
               tabindex="-1"
               aria-pressed=pressed.get
               aria-disabled=disabled
               aria-checked=checked.get
               aria-label=label
               focused=focused.get
               pressed=pressed.get
               disabled=disabled
               checked=checked.get)
    div(data-id="checkboxContainer"
        class="paper-checkbox")
        input(type="checkbox" checked=checked.get class=className tabindex="0" name=name)
        div(data-id="checkbox" class="#{checked.get} paper-checkbox")
            div(data-id="checkmark" class="#{hidden.get} paper-checkbox")
        +PaperRipple(id="ink" className="paper-checkbox" centered="")
    div(data-id="checkboxLabel"
        class="paper-checkbox"
        aria-hidden="true")= label