paper-dropdown-menu(class=className
                    label=label
                    relative=""
                    layout=""
                    inline=""
                    horizontal=""
                    center=""
                    tabindex="0")
  +Template.contentBlock