paper-menu(class=className
           role="menu"
           tabindex="0"
           data-id=id.get
           selected=selected.get)
  +PaperMaterial(elevation="2" fit="")
  +IronSelector(className="content" selected=defaultSelected onUpdate=handleUpdate)
    +Template.contentBlock