paper-tab(class=className 
          role="tab" 
          aria-disabled="false"
          link=link
          event-hook=eventHook)
  +PaperRipple(className="paper-tab" id="ink")
  div(class="tab-content  paper-tab" flex auto center-center vertical layout)
    if link
      a(href=link layout horizontal center)
        +Template.contentBlock
    else
      +Template.contentBlock
