paper-tooltip(class=className
              data-id=id
              role="tooltip"
              tabindex="-1")
  div(data-id="tooltip" class="paper-tooltip" hidden=hidden.get)
    +Template.contentBlock