paper-button(class=className
             title=title
             disabled=disabled
             pressed=pressed.get
             focused=focused.get
             active=active.get
             toggles=toggled.get
             aria-label=title
             tabindex='0'
             role="button")
  if ink
    +PaperRipple(fit='' id="ripple")
  if elevated
    +PaperMaterial(elevation=elevation.get
                   className="content paper-button"
                   animated=''
                   id="shadow")
      +Template.contentBlock
  else
    div
      +Template.contentBlock