paper-menu-button(class=className
                  role="group"
                  aria-haspopup="true"
                  aria-disabled="false"
                  horizontal-align=horizontalAlign
                  vertical-align=verticalAlign)
  label(event-hook="menu-open") #{label}
    +PaperIconButton(icon=icon)
  +PaperMenu(className="paper-menu-button")
    +Template.contentBlock
