paper-menu-button(class=className
                  role="group"
                  aria-haspopup="true"
                  aria-disabled="false"
                  horizontal-align="left"
                  vertical-align="top")
  +Template.contentBlock