paper-fab(class=className
          title=title
          mini=mini
          pressed=getPressed
          focused=getFocused
          active=getActive
          icon=icon
          aria-label=title
          tabindex='0'
          role="button"
          onClick=handleClick)
  +PaperRipple(fit='' id="ripple")
  +PaperMaterial(elevation=getElevation
                 fit=''
                 animated=''
                 id="shadow")
  if icon
    +IronIcon(label=title icon=icon id="icon")
  else 
    +UI.contentBlock

