paper-radio-button(class=className
                   role="radio"
                   tabindex="-1"
                   aria-pressed=pressed.get
                   aria-disabled=disabled
                   aria-checked=checked.get
                   aria-label=label
                   focused=focused.get
                   pressed=pressed.get
                   disabled=disabled
                   checked=checked.get)
  div(data-id="radioContainer"
      class="paper-radio-button")
    input(type="radio" 
          checked=checked.get 
          name=name 
          id=id 
          tabindex="0" 
          disabled=disabled)
    div(data-id="offRadio"
        class="paper-radio-button")
    div(data-id="onRadio"
        class="paper-radio-button")
    +PaperRipple(id="ink" className="paper-radio-button" centered="" checked="")
  div(data-id="radioLabel"
      class="paper-radio-button"
      aria-hidden="true")= label