paper-progress(value=value class=className)
  div(data-id="progressContainer" 
      role="progressbar"
      class="paper-progress"
      aria-valuenow=value 
      aria-valuemin=min 
      aria-valuemax=max)
    div(data-id="secondaryProgress" 
        fit=""
        class="paper-progress" )
    div(data-id="activeProgress" 
        fit=""
        class="paper-progress" 
        style='transform:scaleX(#{getProgress});-webkit-transform:scaleX(#{getProgress})')
