template(name="PaperShadow")
  paper-shadow(class=className
               shadow-id=id
               fit=fit
               animated=animated)
    div(fit
        shadow-id="shadow-bottom"
        animated=animated
        class="paper-shadow-bottom-z-#{z}")
    div(fit
        shadow-id="shadow-top"
        animated=animated
        class="paper-shadow-top-z-#{z}")

